# Python
__pycache__/
*.pyc

# Virtual envs
venv/
**/venv/

# Logs
*.log
oci-knowledge-assistant/app/streamlit.log

# Local env/secrets
.env
**/.env
wallet/
wallet.zip

# OS junk
.DS_Store
oci-knowledge-assistant/app/.env
